<html>
<body>
<style>
h2 {text-align: center}
p {text-align: center}
</style>

<h2><b>Hi, how are you?</b></h2> 

<p>My name is Kimberly Hopson and I'm a technical writer. Thanks for visiting my page!</p>

<p>I am a versatile writer with over 6 years of experience in software documentation. 
I also have experience with technical editing, UI/UX writing, content marketing,
and API documentation.</p> 
    
<p>I am currently a <b>Documentation Engineer</b> at Lucidworks. In the past, I've written stuff 
for companies such as VMware, Johnson & Johnson, and Dell Boomi.</p>
    
<p>Check out my contributions on my main 
<a href="https://github.com/kghopson">Github account</a>!</p>
</body>
</html>